---
import { SEO } from 'astro-seo'
import Layout from './Layout.astro'

const { frontmatter, headings } = Astro.props
const { title, description, author_image, publish_date, author, image } =
  frontmatter
---

<Layout title={title} description={description}>
  <SEO
    openGraph={{
      basic: {
        title: title,
        type: 'article',
        image: image
      }
    }}
    twitter={{
      creator: author
    }}
  />
  <article class='max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 py-12'>
    <div class=''>
      <h1 class='text-4xl font-bold mb-4'>{title}</h1>
      <div class='mb-8 text-gray-600'>
        <div class='flex items-center space-x-4'>
          <img
            class='w-9 h-9 rounded-full'
            src={author_image}
            alt={author + ' cover'}
          />
          <span class='font-medium'>{author}</span>
          <p>Published on: {publish_date}</p>
        </div>
      </div>

      <div class='prose prose-lg max-w-none'>
        <slot />
      </div>
    </div>
  </article>
</Layout>
