---
import { SEO } from 'astro-seo'
import Prose from '../components/Prose.astro'
import TableOfContents from '../components/TableOfContents.astro'
import Layout from './Layout.astro'

const { frontmatter, headings } = Astro.props
const { title, description, publish_date, author, image } = frontmatter
---

<Layout>
  <SEO
    title={title}
    description={description}
    openGraph={{
      basic: {
        title: title,
        type: 'article',
        image: image
      }
    }}
    twitter={{
      creator: author
    }}
  />
  <article class='max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 py-12'>
    <div class='lg:grid lg:grid-cols-3 lg:gap-8'>
      <div class='col-span-2'>
        <h1 class='text-4xl font-bold mb-4'>{title}</h1>
        <div class='mb-8 text-gray-600'>
          <p>Published on: {publish_date}</p>
          <p>Author: {author}</p>
        </div>

        <div class='prose prose-lg max-w-none'>
          <slot />
        </div>
      </div>
    </div>
  </article>
</Layout>
